$orang-color: #e76f51;
$Fuscous-Grey: #545149;
$Dusky-Blue: #4056A1;
$seashell-color: #F4F1EC;
$font-stack-source: 'Source Sans Pro', sans-serif;
@mixin display($direction: row) {
  display: flex;
  flex-direction: $direction;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/*
 * Global layout stuff - Tablet View
 */

body {
  position: relative;
  color: $Fuscous-Grey;
  background-color: $seashell-color;
  font-size: 24px;
  font-family: $font-stack-source;
}
.mainBox {
  padding-top: 56px;
  position: relative;
}
article.tweet:hover {
  box-shadow: 5px 5px #4057a17e;
}
form {
  @include display($direction: column);
  width: 80%;
  margin-bottom: 46px;
}
.new-tweet{
  @include display($direction: column);
  align-items: center;
}
label {
  color: $Fuscous-Grey;
  font-weight: bold;
}
textarea {
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
}
.button {
  border: none;
  color: $seashell-color;
  font-family: 'Bungee', sans-serif;
  font-size: 26px;
  background-color: $Dusky-Blue;
}
.formBottom {
  @include display($direction: row);
  justify-content: space-between;
  border-top: 3px solid $Fuscous-Grey;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
}
.counter {
  font-family: 'Bungee', sans-serif;
  color: $Fuscous-Grey;
}
article.tweet {
  @include display($direction: column);
  width: 80%;
  padding: 8px 16px 8px 16px;
  margin: auto;
  margin-bottom: 26px;
  border: solid 3px $Fuscous-Grey;
}
article:hover {
  box-shadow: $Dusky-Blue;
  }
.tweetHeader {
  @include display($direction: row);
  justify-content: space-between;
  margin-bottom: 24px;
}
.tweetUser {
  @include display($direction: row);
}
div.tweetUser p {
  margin-left: 2px;
}
.tweetHandle {
  font-weight: bold;
  color: #4057a15c;
}
.tweetFooter {
  @include display($direction: row);
  justify-content: space-between;
  font-size: 18px;
  border-top: solid 3px $Fuscous-Grey;
}
.tweetMessage {
  font-size: 12px;
  word-wrap: break-word;
}
p.date {
  font-weight: bold;
  font-size: smaller;
  margin-top: 8px;
  margin-bottom:16px
}
footer.tweetFooter div {
  margin-top: 8px;
  margin-bottom:16px
}
footer.tweetFooter div i:hover {
  color: $orang-color;
}
#tweet-post p {
  display: flex;
  width: 50%em;
  margin-top: 4px;
  padding: 2px 8px 2px 8px;
  font-family: $font-stack-source;
  justify-content: center;
  color: $Fuscous-Grey;
  font-weight: bold;
  background-color: #e76f515f;
  ;
}
.bodyFooter {
  position: relative;
  top: 120px;
  height: 24px;
  margin-top: 24px;
  background-color: $Dusky-Blue;
}

@media only screen and (min-width: 1240px) {
  body {
    color: $Fuscous-Grey;
    background-color: $seashell-color;
    font-size: 24px;
    font-family: $font-stack-source;
  }
  .mainBox {
    position: relative;
    float: right;
    top: 120px;
    padding-top: 120px;
    width: 65%;
  }
  form {
    width: 80%;
  }
}