.pageHeader {
  color: #545149;
  top: 0px;
  padding-top: 120px;
  height: 400px;
  width: 100%;
  background-color: #e76f51;
  background-image: url("https://www.transparenttextures.com/patterns/robots.png");
 }
 .userDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
 }

 @media only screen and (min-width: 1240px) {
  .pageHeader {
    width: 25%;
    float: left;
    top: 0px;
    margin-top: 240px;
    margin-left: 120px;
  }
}