nav {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 120px;
  width: 100vw;
  color: #FFFFFF;
  padding: 1.5em;
}
.navT {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo {
  font-size: 26px;
  font-family: 'Bungee', sans-serif;
 }
 .navTweet {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 22px;
 }
 #fa-color {
  color: #4056A1;
 }
 #fa-color:hover {
  color: #8392c3cb;
 }

 @media only screen and (min-width: 680px) {
  .logo {
    font-size: 36px;
    font-family: 'Bungee', sans-serif;
   }
   .navTweet {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 30px;
   }
   #fa-color {
    color: #4056A1;
   }
   #fa-color:hover {
    color: #8392c3cb;
  }
 }
 @media only screen and (min-width: 1240px) {
  nav {
    background-color: #4056A1;
  }
  .logo {
    font-size: 50px;
    font-family: 'Bungee', sans-serif;
   }
   .navTweet {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 36px;
   }
   #fa-color {
    color: #e76f51;
   }
   #fa-color:hover {
    color: #eeab9a;
   }
}