nav {
  position: fixed;
  z-index: 9;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 120px;
  width: 100vw;
  background-color: #4056A1;
  color: #FFFFFF;
  padding: 1.5em;
}
.navT {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo {
  font-size: 50px;
  font-family: 'Bungee', sans-serif;
 }
 .navTweet {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 28px;
 }
 #fa-color {
  color: #e76f51;
 }
 #fa-color:hover {
  color: #eeab9a;
 }